name: Continuous integration

on:
  push:
    branches:
      - master
      - release-**
  pull_request:
    branches:
      - "**"
  release:
    types: ["prereleased", "released"]

jobs:
  # Run unit tests
  test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        qgis_version: [3.40.15-noble, 3.44.7-noble]
    env:
      QGIS_TEST_VERSION: ${{ matrix.qgis_version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Test on QGIS
        run: docker compose -f .docker/docker-compose.yml run -e PYTHONPATH=/usr/share/qgis/python/plugins qgis
